CONFIG VCCAUX = "3.3" ;

NET "CLK_100" LOC = V10 | IOSTANDARD = LVTTL;
TIMESPEC TS_CLK = PERIOD "CLK_100" 100 MHz HIGH 50%;

NET "edb_led_white_out(3)"  LOC = K12 | IOSTANDARD = LVTTL;
NET "edb_led_white_out(2)"  LOC = L14 | IOSTANDARD = LVTTL;
NET "edb_led_white_out(1)"  LOC = M14 | IOSTANDARD = LVTTL;
NET "edb_led_white_out(0)"  LOC = L15 | IOSTANDARD = LVTTL;
NET "edb_led_yellow_out(3)"  LOC = N15 | IOSTANDARD = LVTTL ;
NET "edb_led_yellow_out(2)"  LOC = P15 | IOSTANDARD = LVTTL;
NET "edb_led_yellow_out(1)"  LOC = U17 | IOSTANDARD = LVTTL;
NET "edb_led_yellow_out(0)"  LOC = U15 | IOSTANDARD = LVTTL;
NET "edb_led_red_out(3)"  LOC = U13 | IOSTANDARD = LVTTL;
NET "edb_led_red_out(2)"  LOC = M11 | IOSTANDARD = LVTTL;
NET "edb_led_red_out(1)"  LOC = U8 | IOSTANDARD = LVTTL;
NET "edb_led_red_out(0)"  LOC = N6 | IOSTANDARD = LVTTL;
NET "edb_led_green_out(3)"  LOC = U11 | IOSTANDARD = LVTTL;
NET "edb_led_green_out(2)"  LOC = M10 | IOSTANDARD = LVTTL;
NET "edb_led_green_out(1)"  LOC = R8 | IOSTANDARD = LVTTL;
NET "edb_led_green_out(0)"  LOC = M8 | IOSTANDARD = LVTTL;